<!DOCTYPE html>
<html>
<head>
  <title><%= title %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><%= render 'partials/navigation' %></p>

  <p><%= render 'partials/flash_messages' %></p>

  <%= yield %>

</body>
</html>
